.form {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.form-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  padding: 8px 16px;
  transition: border 250ms linear;
  outline: transparent;

  &::placeholder {
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #808080;
  }

  &:hover {
    border: 1px solid #000;
  }

  &:active {
    border: 1px solid #4e75ff;
  }
}

.form-submit-button {
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 8px;
  width: 91px;
  height: 40px;
  background-color: #4e75ff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  transition: background-color 250ms linear;

  &:hover {
    background-color: #6c8cff;
  }
}

.gallery {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  flex-basis: calc((100% - 48px) / 3);
  display: flex;
  flex-direction: column;
  position: relative;

  &.is-loading {
    display: none;
  }

  & .image-description-wrapper {
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    border-bottom: 1px solid #808080;
    border-left: 1px solid #808080;
    border-right: 1px solid #808080;
    height: 48px;

    & .image-text-info {
      display: flex;
      flex-direction: column;
      align-items: center;

      font-family: var(--font-family);
      font-weight: 600;
      font-size: 12px;
      line-height: 1.33333;
      letter-spacing: 0.04em;
      color: #2e2f42;

      & .additional-text-info {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        color: #2e2f42;
      }
    }
  }
}
