.load-more-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 8px;
  border: none;
  width: 125px;
  height: 40px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4e75ff;
  transition: background-color 250ms linear;

  &:hover {
    background-color: #6c8cff;
  }
}

.is-hidden-btn {
  display: none;
}
